
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color-barra-lateral: #FFFFFF;             /* Blanco principal */
    --color-texto: #000000;                     /* Negro puro */
    --color-texto-menu: #333333;                /* Gris oscuro (negro más claro) */
  
    --color-boton: #F4C542;                     /* Amarillo principal del sol */
    --color-boton-texto: #000000;               /* Texto negro sobre botón amarillo */
  
    --color-menu-hover: #F5F5F5;                /* Blanco alternativo (gris muy claro) */
    --color-menu-hover-texto: #2E5F31;          /* Verde oscuro del cactus */
     
    --color-linea: #49c10c;                      /* Azul oscuro del triángulo como divisor */
    --color-switch-base: #A4E4EA;               /* Azul claro del triángulo */
    --color-switch-circulo: #74D0DB;            /* Azul principal del triángulo */

    --color-scroll: rgb(192, 192, 192);         /* Gris claro */
    --color-scroll-hover: rgb(134,134,134);   /* Gris claro */
  }
  

  .modo-black {
    --color-barra-lateral: #2C2D31;              /* Fondo lateral oscuro */
    --color-texto: #FFFFFF;                      /* Texto blanco */
    --color-texto-menu: #A4E4EA;                 /* Azul claro de triángulos para texto sutil */
  
    --color-boton: #F4C542;                      /* Amarillo del sol para resaltar */
    --color-boton-texto: #000000;                /* Negro para contraste en botón claro */
  
    --color-menu-hover: #000000;                 /* Fondo negro al hacer hover */
    --color-menu-hover-texto: #F9DA7B;           /* Amarillo claro para resaltar texto hover */
  
    --color-linea: #4BA4AD;                      /* Azul oscuro del triángulo como divisor */
    --color-switch-base: #4B944E;                /* Verde cactus principal */
    --color-switch-circulo: #FFFFFF;             /* Círculo blanco */

    --color-scroll: rgb(68,69,74);         /* Gris claro */
    --color-scroll-hover: rgb(85,85,85);
  }
  
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
height: 100vh;
width: 100%;
background-color: #319635;
}

.menu{
position: fixed;
width: 50px;
height: 50px;
font-size: 30px;
display: none;
justify-content: center;
align-items: center;
border-radius: 50%;
cursor: pointer;
right: 15px;
top: 15px; 
z-index: 100;
background-color: var(--color-boton);
color: var(--color-boton-texto);
}


.barra-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 260px;
    overflow:  hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease, background-color 0.4s ease, left 0.5s ease;  
    z-index: 50;
}

.mini-barra-lateral {
    width: 80px;
}  

.barra-lateral span {
    width: 100px;
    white-space: nowrap;
    font-size: 18 px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease; 
}

.barra-lateral span.oculto {
opacity: 0;
width: 0;
}

.barra-lateral .nombre-pagina {
width: 100%;
height: 45px;
color: var(--color-texto);
margin-bottom: 40px;
display: flex;
align-items: center;
}

.barra-lateral .nombre-pagina ion-icon {
min-width: 50px;
font-size: 40px;
cursor: pointer; 
}

.barra-lateral .nombre-pagina span {    
margin-left: 5px;
font-size: 20px;

}

.barra-lateral .boton   {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}

.barra-lateral .boton ion-icon {
    min-width: 50px;
    font-size: 25px;
}

/*menu de navegación*/
.barra-lateral .navegacion {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.barra-lateral .navegacion::-webkit-scrollbar {
    width: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll);
    border-radius: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-hover);
}


.barra-lateral .navegacion li {
 list-style: none;
 display: flex;
 margin-bottom: 5px;
}

.barra-lateral .navegacion a {
width: 100%;
height: 45px;
margin-bottom: 5px;
display: flex;
align-items: center;
text-decoration: none;
border-radius: 10px; 
color: var(--color-texto-menu);
}

.barra-lateral .navegacion a:hover  {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion ion-icon {
min-width: 50px;
font-size: 30px;
}

.barra-lateral .linea   {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: var(--color-linea);
}

/*modo oscuro*/
.barra-lateral .modo-oscuro {
    width: 100%;
    margin-bottom: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.barra-lateral .modo-oscuro .info {    
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}

.barra-lateral .modo-oscuro ion-icon {
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-oscuro .switch {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 45px;   
  cursor: pointer;
}

.barra-lateral .modo-oscuro .base   {
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}

.barra-lateral .modo-oscuro .circulo {
    position: absolute;	
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: 0.5s ease;
}   

.barra-lateral .modo-oscuro .circulo.prendido {
    left: 15px;
}

/*Usuario*/

.barra-lateral .usuario {
    width: 100%;
    display: flex;
}

.barra-lateral .usuario img {
    width: 60px;
    min-width: 50px;
    border-radius: 15px;    
}

.barra-lateral .usuario .info-usuario {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: var(--color-texto);
     overflow: hidden;
}

.barra-lateral .usuario .nombre-email {
width: 100%;
display: flex;
flex-direction: column;
margin-left: 5px;
}

.barra-lateral .usuario .nombre {
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .email {
    font-size: 13px
}

.barra-lateral .usuario ion-icon {
    font-size: 20px;

}

main {
    margin-left: 260px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main {
    margin-left: 80px;
}

@media  (max-height: 600px) {
.barra-lateral .nombre-pagina {
    margin-bottom: 5px;
}
.barra-lateral .modo-oscuro {
    margin-bottom: 3px;
}
}
@media (max-width: 600px) {
    .barra-lateral {
       position: fixed;
       left: -250px;
    }
    .max-barra-lateral {
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2) {
        display: none;
    }
    main {
        margin-left: 0;
    }
    main.min-main {
        margin-left: 0;
    }
}  